<html>
    <head>
        <title>Sajal Bag's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Sajal Bag's Blog</a></h1>
        </div>

        <div>
            <p>published: 17.10.2019, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>My wife's name is Mousumi</p>
        </div>

        <div>
            <p>published: 17.10.2019, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>My son's  name is Saronno</p>
        </div>
    </body>
</html>